h1{
    direction: rtl;
    font-size: 150px;
    margin-top: 50px;
    font-style: italic;
    color:rgb(39, 39, 243);
    
}

body{
    background-color:beige;
    text-align: center;
}

#chaver{
    margin-top: 50px;
    font-size: 50px;
    background-color: beige;
    font-style: italic;
    color:rgb(39, 39, 243);
    border-color: rgb(39, 39, 243);
    border-radius: 10%;

}